body {
	font-family: 'Roboto', sans-serif;
}

a {
	color: #0e7aea;
	text-decoration: none;
}

h6 {
	color: #9aa3ab;
	font-weight: 300;
	line-height: 15px;
}

h5 {
	color: #99a1aa;
	font-weight: 300;
}

h4 {
	font-weight: 300;
	font-size: 13px;
	color: #97a2ad
}

h3 {
	color: #58636a;
	font-weight: 500;
}

input[type=number] {
    padding: 15px;
    border-radius: 3px;
    outline: none;
    border: none;
    width: 25vw;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3);
  }
  
  button {
    position: relative;
    outline: none;
    border: none;
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    border-radius: 6px;
    transition: border-radius 0.2s;
    top: 12vh;
  }
  
  .buy-button {
    float: left;
    width: 47%;
    background-color: rgba(7, 227, 121, 0.8);
  }
  
  .buy-button:hover {
    border-radius: 10px;
    background-color: rgba(7, 227, 121, 0.6);
  }
  
  .sell-button {
    float: right;
    width: 47%;
    background-color: rgba(227, 7, 7, 0.8);
  }
  
  .sell-button:hover {
    border-radius: 10px;
    background-color: rgba(227, 7, 7, 0.6);
  }

.inside-item2 {
    margin-top: 50px;
    color: #fff;
    text-align: center;
}
  
.inside-item2 p {
    position: relative;
    bottom: -1vh;
    color: rgb(54, 54, 54);
    text-align: center;
}

.container {
	width: 50%;
	height: 40%;
	min-width: 636px;
	min-height: 456px;
	margin: auto;
	margin-top: 10%;
	overflow: hidden;
	border-radius: 5px 5px 5px 5px;
	-webkit-box-shadow: 0px 5px 21px 0px rgba(128,128,128,0.2);
	-moz-box-shadow: 0px 5px 21px 0px rgba(128,128,128,0.2);
	box-shadow: 0px 5px 21px 0px rgba(128,128,128,0.2);
}

.left {
	background-color: #1882ef;
	width: 39%;
	height: 457px;
	border-radius: 5px 0 0 5px;
	float: left;
	color: #ffffff;
}

.info-box {
	margin-top: 35px;
	margin-left: 35px;
	margin-right: 35px;
}

.receipt {
	font-weight: 300;
	font-size: 15px;
	line-height: 26px;
	padding-top: 10px;
  padding-bottom: 15px;
	border-bottom: 1px solid #3895f4;
	height: 15%;
}

.receipt > span {
	font-weight: 500;
	font-size: 21px;
}

.entry {
	border-bottom: 1px solid #3895f4;
	height: 50%;
	overflow: hidden;
	padding-top: 15px;
}

.entry > p {
	font-weight: 300;
	font-size: 13px;
	line-height: 26px;
	margin-top: 0px !important;
	float: left;
}

.entry > i {
	margin-top: 4px;
	margin-right: 13px;
	float: left;
	color: #b4d8fc;
}

span {
	font-weight: 500;
	font-size: 12px;
}

.entry:last-child {
	border-bottom: none;
}

.right {
	background-color: #fefefe;
	width: 61%;
	height: 100%;
	float: left;
	border-radius: 0 5px 5px 0;
}

.content {
	margin-top: 50px;
	margin-left: 40px;
	margin-right: 40px;
}

.header {
	overflow: hidden;
	border-bottom: 1px solid #d7e2e7;
	height: 50px;
}

.footer {
	overflow: hidden;
	border-top: 1px solid #d7e2e7;
	margin-top: 25vh;
	padding-top: 30px;
}

.footer > a {
	font-size: 13px;
	font-weight: 500;
	float: left;
}

.footer > h6 {
	color: #7a838d;
	text-align: right;
	margin-top: 0px !important;
}