@import url('https://fonts.googleapis.com/css?family=Quicksand:700&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    text-shadow: 2px 1px 0px rgba(0,0,0,0.6);
    overflow: hidden;
}

.ui {
    position: absolute;
    color: rgb(238, 238, 238);
    bottom: -20px;
    left: 17%;
    float: left;
}

.time {
    position: relative;
    bottom: 5px;
}

.car-stats {
    position: relative;
    bottom: -14px;
}

.car-fuel {
    position: relative;
    bottom: 11px;
    left: 80px;
}

.seatbelt {
    position: relative;
    bottom: 63px;
    left: 160px;
}

#current-time {
    font-size: 15px;
}

#seatbelt-status {
    font-size: 15px;
}

#current-speed-label {
    position: relative;
    bottom: 7px;
    left: 3px;
    font-size: 10px;
}

#current-fuel-label {
    position: relative;
    bottom: 7px;
    left: 3px;
    font-size: 10px;
}

#current-location {
    font-size: 15px;
}

#seatbelt-status {
    color: red;
}